@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
p {
	font-size: 14px;
}
.up_top{
	margin: 0;
	/*background-color: black;*/
	width: 100%;
	font-size: 40px;
	color: #ffffff;
	height: 50px;
	position: fixed;
	z-index: 1; 
	opacity: 1;
	text-align: center;
}
body {
  width: 100%;
  height: 100vh;
  background: url("assets/freedom.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	 background-attachment: fixed;
  color: #333;
}
.oldal{
	margin: 0 auto;
	width: 80%;
	text-align: center;
	/*background-color: aqua*/
	color: #333333; 
}
.text_1{
	font-size: 60px;
	font-family: "Amatic SC";
}
.text_2{
	font-size: 20px;
	font-family: "Crimson";
	font-style: italic;

}
.text_chi {
	font-size: 50px;
	font-family: "Ma Shan Zheng";
}
.text_chi2 {
	font-size: 20px;
	font-family: "Crimson";
	font-style: italic;
}
.ENG_div{
	padding-top: 50px;
	height: 100vh;
}
.RUS_div {
	padding-top: 50px;
	height: 100vh;
}
.CHI_div {
	padding-top: 50px;
	height: 100vh;
	
}
a{
	text-decoration: none;
}
img {
	width: 40px;
	opacity: 0.5;
	
}
img:hover {
	width: 45px;
	opacity: 1.0;

}
@media (max-width: 880px){

.up_top{
	height: 30px;
	font-size: 20px;
}
img {
	width: 20px;
	opacity: 0.5;
	
}
img:hover {
	width: 25px;
	opacity: 1.0;

}
.text_1{
	font-size: 30px;
	font-family: "Amatic SC";
}
.text_2{
	font-size: 10px;
	font-family: "Crimson";
	font-style: italic;

}
.text_chi {
	font-size: 25px;
	font-family: "Ma Shan Zheng";
}
.text_chi2 {
	font-size: 10px;
	font-family: "Crimson";
	font-style: italic;
}
}